<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="board">

    <sql id="selectAll">
        SELECT BNO, TITLE, B_CONTENT, B_REG_DATE, U_DATE, B_UNO, LIKE_COUNT, VIEW_COUNT
        FROM BOARD
    </sql>

    <insert id="postBoard" parameterType="boardDTO">
        INSERT INTO BOARD (BNO, B_UNO, TITLE, B_CONTENT)
        VALUES (SEQ_BNO.NEXTVAL, ${b_uno}, #{title}, #{b_content})
    </insert>

    <select id="getBoardList" resultType="BoardDTO">
        <include refid="selectAll"/>
    </select>

    <select id="getBoard" parameterType="int" resultType="boardDTO">
        <include refid="selectAll"/>
        WHERE BNO = ${bno}
    </select>

    <select id="getWriter" parameterType="int" resultType="String">
        SELECT U.NICKNAME AS WRITER
        FROM BOARD B, USERINFO U
        WHERE B.B_UNO = U.UNO
          AND BNO = ${bno}
    </select>

    <select id="isWriter" parameterType="BoardDTO" resultType="String">
        SELECT ID
        FROM USERINFO
        WHERE UNO = ${b_uno}
    </select>
</mapper>
