<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="board">

    <sql id="selectAll">
        SELECT BNO, TITLE, B_CONTENT, B_REG_DATE, U_DATE, B_UNO, LIKE_COUNT, VIEW_COUNT
        FROM BOARD
    </sql>

    <insert id="postBoard" parameterType="boardDTO">
        INSERT INTO BOARD (BNO, B_UNO, TITLE, B_CONTENT)
        VALUES (SEQ_BNO.NEXTVAL, ${b_uno}, #{title}, #{b_content})
    </insert>

    <select id="getBoardList" resultType="BoardDTO">
        <include refid="selectAll"/>
--         WHERE BNO NOT IN (SELECT BNO FROM DELETED_BOARD) 이 구문 유무에 따라 속도차이 엄청 심하다. 왜지?
        WHERE NOT EXISTS (SELECT BNO FROM DELETED_BOARD WHERE BNO = BOARD.BNO)
        ORDER BY BNO DESC
    </select>

    <select id="getBoard" parameterType="int" resultType="boardDTO">
        <include refid="selectAll"/>
        WHERE BNO = ${bno}
    </select>

    <select id="myBoardList" parameterType="int" resultType="boardDTO">
        <include refid="selectAll"></include>
        WHERE B_UNO = ${uno}
        ORDER BY BNO DESC
    </select>

    <select id="getWriter" parameterType="int" resultType="String">
        SELECT U.NICKNAME AS WRITER
        FROM BOARD B, USERINFO U
        WHERE B.B_UNO = U.UNO
          AND BNO = ${bno}
    </select>

    <select id="isWriter" parameterType="BoardDTO" resultType="String">
        SELECT ID
        FROM USERINFO
        WHERE UNO = ${b_uno}
    </select>

    <insert id="deleteBoard" parameterType="BoardDTO">
        INSERT INTO DELETED_BOARD VALUES (${bno})
    </insert>

    <update id="updateBoard" parameterType="BoardDTO">
        UPDATE BOARD
        SET TITLE = #{title}, B_CONTENT = #{b_content}, U_DATE = SYSDATE
        WHERE BNO = ${bno}
    </update>
</mapper>
