<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapping -->
<mapper namespace="user">
    <insert id="registration" parameterType="UserDTO">
        INSERT INTO USERINFO
        VALUES (NVL((SELECT MAX(UNO) FROM USERINFO),0)+1, #{id}, #{pw}, #{nickname}, SYSDATE)
    </insert>

    <select id="login" parameterType="UserDTO" resultType="UserDTO">
        SELECT UNO, ID, PW, NICKNAME, U_REG_DATE
        FROM USERINFO
        WHERE ID = #{id} AND PW = #{pw}
    </select>

    <select id="dupCheck" parameterType="String" resultType="String">
        SELECT COUNT(*)
        FROM USERINFO
        WHERE ID = #{id}
    </select>

    <update id="updateNickname" parameterType="String">
        UPDATE USERINFO
        SET NICKNAME = #{nickname}
        WHERE ID = #{id}
    </update>
</mapper>